<div class="ps-breadcrumb">
  <div class="ps-container">
    <ul class="breadcrumb">
      <li><a [routerLink]="['/home']">Trang chủ</a></li>
      <li>Giới thiệu</li>
    </ul>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div style="margin-top: 30px">
          <h2 class="title">CHÀO MỪNG ĐẾN VỚI BLUESKY</h2>
          <div>
            <p style="font-size: 18px">
              Chào mừng bạn đến với BlueSky - điểm đến lý tưởng cho những người
              yêu thể thao! BlueSky tự hào là cửa hàng thể thao hàng đầu, nơi
              bạn có thể tìm thấy mọi thứ bạn cần để hoàn thiện và nâng cao trải
              nghiệm thể thao của mình.
              <br />
              <br />
              Chúng tôi không chỉ là một cửa hàng thể thao thông thường. Chúng
              tôi là điểm đến của những người đam mê thể thao, nơi bạn có thể
              khám phá và trải nghiệm những sản phẩm chất lượng nhất từ các
              thương hiệu hàng đầu.<br />
              <br />

              Với sự cam kết đem đến sự thoải mái, chất lượng và hiệu suất tốt
              nhất cho khách hàng, BlueSky là địa chỉ tin cậy để bạn có thể tìm
              thấy những đôi giày, quần áo, và dụng cụ thể thao phù hợp nhất.<br />
              <br />

              Đến với BlueSky, bạn sẽ không chỉ mua được những sản phẩm tốt nhất
              mà còn được tận hưởng dịch vụ tư vấn chuyên nghiệp và nhiệt tình
              từ đội ngũ nhân viên của chúng tôi.<br />
              <br />

              Hãy ghé thăm BlueSky ngay hôm nay để khám phá thế giới thể thao
              đầy sôi động và tìm ra những sản phẩm tuyệt vời nhất cho cuộc sống
              sôi động của bạn!
            </p>
            <img class="gioithieu" src="img/bg/shop1.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2 class="title">ĐÔI NÉT VỀ CHÚNG TÔI</h2>
          <div class="khung_chung">
            <div class="khung_left">
              <div class="tt">
                <img class="img" src="img/bg/people.png" />
                <div clas="ttc" style="text-align: center">
                  <p>Tổng cộng</p>
                  <h2>50</h2>
                  <p>Nhân viên</p>
                </div>
              </div>
            </div>
            <div class="khung_right">
              <div class="tt">
                <img class="img" src="img/bg/gender.png" />
                <div clas="ttc" style="text-align: center">
                  <p>Tổng số</p>
                  <h2>5</h2>
                  <p>Chi nhánh</p>
                </div>
              </div>
            </div>
            <div class="khung">
              <div class="tt">
                <img class="img" src="img/bg/shipment.png" />
                <div clas="ttc" style="text-align: center">
                  <p>Vận chuyển</p>
                  <h2>63</h2>
                  <p>Tỉnh thành</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2 class="title">THÔNG TIN CỬA HÀNG</h2>
          <div>
            <p>
              Tên chi nhánh: BlueSky - Chi nhánh công ty TNHH Sport For You<br />
              Địa chỉ: Vân Côn, Hoài Đức<br />
              Điện thoại: 034 719 16883<br />
              Đại diện kinh doanh: Nguyễn Văn Vũ<br />
              Ngành nghề kinh doanh: Bán đồ thể thao<br />
              Website: <br />
              Email: bluesky.shopsport@gmail.com<br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row"> -->
    <div class="col-lg-12">
      <aside class="widget widget--vendor widget--open-time">
        <h2 class="title" style="margin-left: -15px">
          <i class="icon-clock3"></i> THỜI GIAN MỞ CỬA
        </h2>
        <ul style="font-size: 20px">
          <li><strong>Thứ 2:</strong><span>6:00 am - 23:00 pm</span></li>
          <li><strong>Thứ 3:</strong><span>6:00 am - 23:00 pm</span></li>
          <li><strong>Thứ 4:</strong><span>6:00 am - 23:00 pm</span></li>
          <li><strong>Thứ 5:</strong><span>6:00 am - 23:00 pm</span></li>
          <li><strong>Thứ 6:</strong><span>6:00 am - 23:00 pm</span></li>
          <li><strong>Thứ 7:</strong><span>6:00 am - 23:00 pm</span></li>
          <li><strong>Chủ nhật:</strong><span>7:00 am - 00:00 am</span></li>
        </ul>
      </aside>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2 class="title">VỀ CHÚNG TÔI</h2>
          <p style="font-size: 18px">
            Khách hàng là trọng tâm trong mô hình kinh doanh của chúng tôi. Nhờ
            sự tin tưởng và ủng hộ của khách hàng, chúng tôi đã phát triển mạnh
            mẽ với đội ngũ hơn 50 nhân viên, phục vụ 63 tỉnh thành trên cả nước.
            Lấy công nghệ làm nền tảng, chúng tôi cung cấp dịch vụ đa kênh, đáp
            ứng nhu cầu mua sắm của khách hàng mọi lúc mọi nơi: trên thiết bị di
            động, trực tuyến và trên mạng xã hội. Sự hài lòng của khách hàng là
            mục tiêu hàng đầu của chúng tôi. Chúng tôi luôn nỗ lực để trở thành
            ứng dụng mua sắm phổ biến nhất, thu hút khách hàng bằng các luồng
            nội dung trực tiếp hấp dẫn trên nền tảng BlueSky và mang đến trải
            nghiệm mua sắm trực tuyến tuyệt vời nhất.
          </p>
          <img class="gioithieu" src="img/bg/vedep.png" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
